:root {
  --electric-lime: #ccff00;
  --electric-lime-dark: #abd600;
  --pure-black: #000000;
  --charcoal: #111508;
  --pure-white: #ffffff;
  --cool-grey: #c6c6c7;
}

body {
  background-color: var(--pure-black);
}